body {
  background-color: white;
}
h1, h2, h3 {
  color: #494E52;
  font-weight: Bold
}
p {
  color: #494E52;
}

.myimage {
  max-width: 175px;
  border-radius: 50%;
  border: 1px solid #666666;
  padding: 5px;
}

.main {
  width: 80%;
}
